@using EzNutrition.Shared.Data.Entities
<Table Context="cx" TItem="DietaryReferenceIntakeValue" DataSource="@InnerRecords" HidePagination="true">
    <PropertyColumn Property="x=>x.AgeStart">
        <TitleTemplate>
            <span>年龄组 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.Gender">
        <TitleTemplate>
            <span>性别 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.SpecialPhysiologicalPeriod">
        <TitleTemplate>
            <span>特殊生理时期 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.RecordType">
        <TitleTemplate>
            <span>记录类别 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.IsOffset">
        <TitleTemplate>
            <span>是否为偏移值 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.Value">
        <TitleTemplate>
            <span>数值 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.MeasureUnit">
        <TitleTemplate>
            <span>单位 </span>
        </TitleTemplate>
    </PropertyColumn>
    <PropertyColumn Property="x=>x.Detail">
        <TitleTemplate>
            <span>备注 </span>
        </TitleTemplate>
    </PropertyColumn>
</Table>
@code {
    [Parameter]
    public IEnumerable<DietaryReferenceIntakeValue>? InnerRecords { get; set; }
}
