@using EzNutrition.Client.Services;
@inherits LayoutComponentBase
@inject UserSessionService UserSession
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            @if (UserSession.UserInfo != default)
            {
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">@UserSession.UserInfo.UserName</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">用户组：（@UserSession.UserInfo.Roles.FirstOrDefault()）</a>
                <a @onclick="SignOut">登出</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        UserSession.UserInfoChanged += (sender, e) =>
        {
            StateHasChanged();
        };
        base.OnInitialized();
    }

    private void SignOut()
    {
        UserSession.UserInfo = null;

        Navigation.NavigateTo("/");
    }
}