@using EzNutrition.Client.Services;
@inherits LayoutComponentBase
@inject UserSessionService UserSession
@inject NavigationManager Navigation

<Layout Style="min-height: 100vh; ">
    <Sider Breakpoint="@BreakpointType.Sm" CollapsedWidth="0" @bind-Collapsed=@collapsed>
        <Layout>
            <Header Style="color:white;">
                EzNutrition
            </Header>
            <Content>
                <NavMenu />
            </Content>
        </Layout>
    </Sider>
    <Layout>
        <Content>
            <div class="site-layout-content">
                @Body
            </div>
        </Content>
        <Footer Style="text-align: center;">
            @* <a href="https://wiki.cdorey.net"><img style="width:45px;margin:8px;" src="/logo.png" /></a> *@
            @if (!string.IsNullOrEmpty(@UserSession.CaseNumber))
            {
                <p><a href="http://www.miit.gov.cn/" target="_blank">@UserSession.CaseNumber</a></p>
            }
        </Footer>
    </Layout>
</Layout>

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 100%;
        margin: 16px;
    }
</style>

@code {
    private bool collapsed;

    private async void SignOut()
    {
        await UserSession.SignOutAsync();

        Navigation.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        UserSession.AuthenticationStateChanged += (e) =>
        {
            StateHasChanged();
        };
        await UserSession.GetSystemInfoAsync();
        await base.OnInitializedAsync();
    }


}