@using EzNutrition.Client.Models
@using EzNutrition.Client.Pages
@using EzNutrition.Client.Services;
@inject UserSessionService UserSession
@inject MainTreatmentViewModel MaintreatmentVM
@inject ArchiveManageService ArchiveManager
@inject NavigationManager Navigator
<Menu OpenKeys="@(["maintreatments"])" Theme="MenuTheme.Dark" Mode=@MenuMode.Inline>
    <MenuItem RouterLink="">
        <Icon Type="home" Theme="outline" />
        <span>首页</span>
    </MenuItem>
    @if (UserSession.UserInfo is not null)
    {
        <SubMenu Key="maintreatments" Title="门诊咨询">
            <MenuItem OnClick="OpenArchive">新建</MenuItem>
            <MenuItemGroup Title="已诊对象">
                @foreach (var archive in ArchiveManager)
                {
                    <MenuItem RouterLink="@($"maintreatment/{archive.Key}")">@(string.IsNullOrWhiteSpace(archive.Value.Client.Name) ? archive.Key : archive.Value.Client.Name)</MenuItem>
                }
            </MenuItemGroup>
        </SubMenu>
        <MenuItem RouterLink="drisinsights">
            <Icon Type="medicine-box" Theme="outline" />
            <span>DRIs见解</span>
        </MenuItem>
    }
</Menu>

@code {
    protected override void OnInitialized()
    {
        UserSession.AuthenticationStateChanged += (e) =>
        {
            StateHasChanged();
        };

        ArchiveManager.ClientNameChanged += (sender, e) =>
        {
            StateHasChanged();
        };

        base.OnInitialized();
    }

    private void OpenArchive()
    {
        Navigator.NavigateTo($"maintreatment/{ArchiveManager.NewArchive()}");
    }
}
