@using EzNutrition.Client.Services;
@inject UserSessionService UserSession
<Menu Mode="MenuMode.Inline" Theme="MenuTheme.Dark">
    <MenuItem RouterLink="">
        <Icon Type="home" Theme="outline" />
        <span>首页</span>
    </MenuItem>
    @if (UserSession.UserInfo != default)
    {
        <MenuItem RouterLink="maintreatment">
            <Icon Type="medicine-box" Theme="outline" />
            <span>基本处理</span>
        </MenuItem>
    }

</Menu>

@code {
    protected override void OnInitialized()
    {
        UserSession.UserInfoChanged += (sender, e) =>
        {
            StateHasChanged();
        };
        base.OnInitialized();
    }

}
