@page "/counter"
@using EzNutrition.Shared.Data.Entities;
@using EzNutrition.Shared.Utilities;
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt;
@inject IHttpClientFactory HttpClientFactory
@inject DrawerService DrawerService
@inject NavigationManager Navigator

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (token == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@token</em></p>
}

<button class="btn btn-primary" @onclick="OpenComponent">Click me</button>


@code
{
    private string? token;

    private Claim[]? userClaims;

    protected void ParseToken()
    {
        // if (!string.IsNullOrEmpty(token))
        // {
        //     // 使用令牌解析用户信息
        //     var tokenHandler = new JwtSecurityTokenHandler();
        //     var jwtToken = tokenHandler.ReadJwtToken(token);
        //     userClaims = jwtToken.Claims.ToArray();
        // }
    }

    private async Task OpenComponent()
    {
    }
}
