@page "/counter"
@using EzNutrition.Shared.Data.Entities;
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (token == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@token</em></p>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private string? token;

    private async Task IncrementCount()
    {
        try
        {
            if (token == null)
            {
                var res = await Http.GetStringAsync("Auth/Token");
                token = res;
            }
            else
            {
                // 创建一个 HTTP 请求
                var request = new HttpRequestMessage(HttpMethod.Get, "Auth/Test");
                request.Headers.Add("Authorization", $"Bearer {token}");
                var response = await Http.SendAsync(request);
                token = await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {

        }

    }
}
