@page "/counter"
@using EzNutrition.Shared.Data.Entities;
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (advices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>AdviceId</th>
                <th>Content</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var advice in advices)
            {
                <tr>
                    <td>@advice.AdviceId</td>
                    <td>@advice.Content</td>
                    <td>@advice.Priority</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private List<Advice>? advices;

    private async Task IncrementCount()
    {

        var result = await Http.PostAsJsonAsync("Prescription/advices", new List<int> { 1, 2, 3, 5 });
        advices = await result.Content.ReadFromJsonAsync<List<Advice>>();
    }
}
