@page "/"
@using EzNutrition.Client.Models;
@using EzNutrition.Client.Services;
@inject HttpClient Http
@inject UserSessionService UserSession

<PageTitle>首页</PageTitle>
@if (UserSession.UserInfo == default)
{
    <article class="container mt-5">
        <h3>公共卫生医师营养台账</h3>

        <p>您好，同行：</p>
        <p>在工作之余，我开发了这个工具，旨在协助我们更便捷地进行食谱计算。这个工具具备自定义计算功能和营养分析，可以有效节省时间，提升我们的服务质量。</p>

        <p>本工具源代码依照AGPL-3.0许可公开，如果您是注册的公共卫生执业医师，或者是注册在预防保健专业、儿童保健专业、妇女保健专业的临床执业医师，如有需要可通过邮件向我申请MIT许可。</p>

        <p>我诚挚邀请您尝试使用这一工具，无论是日常工作中应用，还是分享给其他预防医学专业的同仁。目前，这一工具仍有一些不完善之处，尤其是自动生成的膳食建议可能还需进一步改进。在给患者或居民医学建议之前，请务必仔细核查相关信息的合理性。</p>

        <p>此外，尽管营养专业长期以来一直属于预防医学范畴，但某些对公卫执业规则不认可的地区我们从事营养咨询和营养治疗工作可能存在违规风险。请务必确保您的行为不违反所在地区卫生行政部门的要求。</p>

        <p>期待我们的合作能够为公共卫生事业带来更大的推动力。如有任何疑问或需要进一步信息和支持，请随时<a href="mailto://bsense@live.com">与我联系</a>。</p>

        <p>祝愿您在工作中取得更卓越的成就！</p>

        <p class="font-italic">诚挚问候，<br />CdoreyPoisson</p>
    </article>

    <div class="container" id="login-form">
        <h3>登录以开始</h3>

        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control mb-2" id="username" placeholder="BBS测试账户EpiMan" @bind="username" />
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control mb-2" id="password" placeholder="BBS测试密码I_am_epiman" @bind="password" />
                    </div>
                    <button type="button" class="btn btn-primary mb-2" @onclick="Login">登录</button>
                    @if (!string.IsNullOrEmpty(errorInfo))
                    {
                        <p class="mb-2 alert-warning">@errorInfo</p>
                    }
                </form>
            </div>
        </div>
    </div>
}
else
{
    <article class="container mt-5">
        <h3>公共卫生医师营养台账</h3>

        <p>您好，同行</p>

        <p>提示：</p>
        <ol>
            <li>EzNutrition服务器不会保存所有的咨询对象信息，未来也不会有此计划，因此请根据您的业务需要自行在您的电脑上保存</li>
            <li>当前能量模型直接按照15%P、25%F、60%C的方式分配宏量营养素，尚未实装AMDR，这在绝大多数健康的成年人群体中是正确的，但是婴幼儿、特定疾病或生理状况下能量分配比应当适当调整，我会尽快实装DRIs模块，目前对上述特殊人群请谨慎使用</li>
            <li>当前版本，儿保和妇保营养咨询请务必谨慎使用模型计算结论，有诸多参数尚需斟酌调整！！</li>
            <li>当前有且只有一个功能，根据咨询对象的基本信息自动核算能量、三餐配比、产生食物交换份模型和膳食建议，点击菜单栏的“<a href="/maintreatment">基本处理</a>”按钮开始使用</li>
            <li>未来计划尽快加入完整的DRIs数据，目前暂时仅有EER实装</li>
            <li>未来计划加入辅助膳食调查计算和集成常见的营养学评价量表功能，优先级在DRIs之后</li>
            <li>未来计划开发一个本地客户端程序，可以辅助在本地电脑中保存和管理咨询对象的数据，目前尚在构思中，优先级在计算和量表之后</li>
        </ol>

        <p class="font-italic">诚挚问候，<br />CdoreyPoisson</p>
    </article>
}
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

@code {
    private string? username;
    private string? password;

    private string? errorInfo;

    protected override async Task OnInitializedAsync()
    {
        UserSession.UserInfoChanged += (sender, e) =>
        {
            StateHasChanged();
        };
        await base.OnInitializedAsync();
    }

    private async Task Login()
    {
        try
        {
            if (!(string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password)))
            {
                var formContent = new FormUrlEncodedContent(new[] { new KeyValuePair<string, string>(nameof(username), username), new KeyValuePair<string, string>(nameof(password), password) });
                var res = await Http.PostAsync("Auth", formContent);
                if (res.IsSuccessStatusCode)
                {
                    var token = await res.Content.ReadAsStringAsync();
                    UserSession.UserInfo = new UserInfo(token);
                }
                else
                {
                    errorInfo = await res.Content.ReadAsStringAsync();
                }
            }
        }
        catch (Exception ex)
        {
            errorInfo = ex.Message;
        }
    }
}

